<a href="https://colab.research.google.com/github/nualpair/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**ข้อดีหนึ่งของ python คือมี package สำหรับการทำงานต่างๆ**

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [8]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [9]:
import pandas as pd #เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

In [10]:
data_df = pd.read_csv('data.csv')

In [11]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   25    Bangkok
2  Sarah   49     London

In [12]:
data_df2 = pandas . read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   25    Bangkok
2  Sarah   49     London

#**Basic Python**
##**Variables**
ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [13]:
variable_a = 12
variable_b = 'abcd' # ' ใช้เรียก guote
variable_c = variable_a

In [14]:
variable_a

12

In [15]:
variable_b

'abcd'

In [16]:
variable_c

12

In [17]:
# (พยายาม)ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [18]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_A = 2
print(v_a)
print(V_A)

1
2

In [19]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [20]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [21]:
variable_a = 12
variable_b = 'abcde' # ' ใช้เรียก guote
variable_c = variable_a 
variable_d = -41.2
variable_4 = "KKU" # " ใช้เรียก guote

In [22]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [23]:
print(variable_b + variable_4)

abcdeKKU

##**Casting int() float() str()**

In [24]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [25]:
V_X=str(variable_x)
print(V_X)

-29.200000000000003

In [26]:
V_X

'-29.200000000000003'

In [27]:
float(V_X)

-29.200000000000003

##**Data structure**

###list()

In [28]:
list_a = [1,2,0.2,'abs'] #[] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [29]:
list_a

[1, 2, 0.2, 'abs']

In [30]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [31]:
len(list_b) #ความยาว จำนวน

4

In [32]:
list_b[0]

2

In [33]:
list_b[3]

[1, 2, 0.0]

In [34]:
list_b[3][0]

1

##**string คือ list ของตัวหนังสือ**

In [35]:
a = 'Stat KKU'

In [36]:
a[4]

' '

In [37]:
a[6]

'K'

##**วิธีสร้าง list ว่าง**

In [38]:
list_c = list() #แบบที่1
list_d = [] #แบบที่2

In [39]:
list_c

[]

In [40]:
list_d

[]

##**เติมค่าลงไปใน list (.append())**

In [41]:
list_c.append('a')

In [42]:
list_c

['a']

In [43]:
list_c.append(56)

In [44]:
list_c

['a', 56]

##**การชี้ค่าใน list (indexing)**
1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังโดยใช้ negative index

In [45]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [46]:
list_b[-1]

[1, 2, 0.0]

##**list slicing**

In [47]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

##**เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]**

##**[ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง)**

In [48]:
list_ex[1:6] # เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [49]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [50]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

##**[จุดเริ่มต้น:จุดสุดท้าย:step]**

In [51]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [52]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [53]:
list_ex[::-1]##กลับข้าง หน้าไปหลัง หลังมาหน้า

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [54]:
a

'Stat KKU'

In [55]:
a[-3:]

'KKU'

In [56]:
a[5:8]

'KKU'

In [57]:
a[5::]

'KKU'

In [58]:
a[-3::]

'KKU'

##**list + list**

In [59]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [60]:
list_a+list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

#**Loop**
python

for ตัวแปรที่จะรับค่าจาก list in list ที่จะนำมาวนลูป : do something

In [61]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [62]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [63]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [64]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [66]:
for i in range(2,7,2):
    print(i)

2
4
6

In [67]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [68]:
for i in range(5):
    print('hahaha')
    x = i + 3
  
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

#**Nested loop**

In [69]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

#**Condition**
#**Function**