<a href="https://colab.research.google.com/github/nualpair/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**ข้อดีหนึ่งของ python คือมี package สำหรับการทำงานต่างๆ**

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd #เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

In [3]:
data_df = pd.read_csv('data.csv')

In [4]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   25    Bangkok
2  Sarah   49     London

In [5]:
data_df2 = pandas . read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   25    Bangkok
2  Sarah   49     London

#**Basic Python**
##**Variables**
ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variable_a = 12
variable_b = 'abcd' # ' ใช้เรียก guote
variable_c = variable_a

In [7]:
variable_a

12

In [8]:
variable_b

'abcd'

In [9]:
variable_c

12

In [10]:
# (พยายาม)ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [11]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_A = 2
print(v_a)
print(V_A)

1
2

In [12]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [13]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [14]:
variable_a = 12
variable_b = 'abcde' # ' ใช้เรียก guote
variable_c = variable_a 
variable_d = -41.2
variable_4 = "KKU" # " ใช้เรียก guote

In [15]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [16]:
print(variable_b + variable_4)

abcdeKKU

##**Casting int() float() str()**

In [ ]:
print(variable_x)
print(int(variable_x))

In [ ]:
V_X=str(variable_x)
print(V_X)

In [ ]:
V_X

In [ ]:
float(V_X)

##**Data structure**

###list()

In [ ]:
list_a = [1,2,0.2,'abs'] #[] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a

In [ ]:
list_b

In [ ]:
len(list_b) #ความยาว จำนวน

In [ ]:
list_b[0]

In [ ]:
list_b[3]

In [ ]:
list_b[3][0]

##**string คือ list ของตัวหนังสือ**

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

In [ ]:
a[6]

##**วิธีสร้าง list ว่าง**

In [ ]:
list_c = list() #แบบที่1
list_d = [] #แบบที่2

In [ ]:
list_c

In [ ]:
list_d

##**เติมค่าลงไปใน list (.append())**

In [ ]:
list_c.append('a')

In [ ]:
list_c

In [ ]:
list_c.append(56)

In [ ]:
list_c

##**การชี้ค่าใน list (indexing)**
1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังโดยใช้ negative index

In [ ]:
list_b

In [ ]:
list_b[-1]

##**list slicing**

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

##**เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]**

##**[ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง)**

In [ ]:
list_ex[1:6] # เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

In [ ]:
list_ex[4:]

In [ ]:
list_ex[:6]

##**[จุดเริ่มต้น:จุดสุดท้าย:step]**

In [ ]:
list_ex

In [ ]:
list_ex[::2]

In [ ]:
list_ex[::-1]##กลับข้าง หน้าไปหลัง หลังมาหน้า

In [ ]:
a

In [ ]:
a[-3:]

In [ ]:
a[5:8]

In [ ]:
a[5::]

In [ ]:
a[-3::]

##**list + list**

In [ ]:
print(list_a)
print(list_b)

In [ ]:
list_a+list_b

#**Loop**
python

for ตัวแปรที่จะรับค่าจาก list in list ที่จะนำมาวนลูป : do something

In [17]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [18]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [19]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [20]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [24]:
for i in range(2,7,2):
    print(i)

2
4
6

In [23]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [22]:
for i in range(5):
    print('hahaha')
    x = i + 3
  
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

#**Nested loop**

In [25]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

#**Condition**


if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<,<=,>=):

ถ้าเงื่อนไขเป็นจริง ทำงาน 1

ถ้าเงื่อนไขเป็นจริง ทำงาน 2

else: #ตรวจสอบเงื่อนไงข้างบนว่าไม่เป็นจริง ทำงานที่ X

In [26]:
stringx = 'sadfasdfsadfweiroudhviehkgytrdl'

if len(stringx) > 30:
    print(f'{stringx} is longer than 30 characters')

sadfasdfsadfweiroudhviehkgytrdl is longer than 30 characters

In [27]:
stringx = 'sadfasdfsadfweiroudhviehkgytrdl'

if len(stringx) > 100: #ให้เงื่อนไขว่าถ้ามีค่ามากกว่า 100
    print(f'{stringx} is longer than 30 characters')
else:
    print(f'{stringx} in {len(stringx)} characters long') #ตรวจสอบดูว่ามีกี่จำนวนถ้ามีค่าน้อยกว่า100

sadfasdfsadfweiroudhviehkgytrdl in 31 characters long

**if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<,<=,>=):**

ถ้าเงื่อนไขเป็นจริง ทำงาน 1

ถ้าเงื่อนไขเป็นจริง ทำงาน 2

elif เงื่อนไขที่จะตรวจสอบต่อไแถ้าเงื่อนไขข้างบนไม่เป็นจริง:

ถ้าเงื่อนไขเป็นจริง ทำงาน a1

ถ้าเงื่อนไขเป็นจริง ทำงาน a2   

elif เงื่อนไขที่จะตรวจสอบต่อไแถ้าเงื่อนไขข้างบนไม่เป็นจริง:

ถ้าเงื่อนไขเป็นจริง ทำงาน b1

ถ้าเงื่อนไขเป็นจริง ทำงาน b2  

else: #ตรวจสอบเงื่อนไงข้างบนทั้งหมดว่าไม่เป็นจริง

ทำงานที่ X

In [28]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long, try again!')
elif len(input_pass) < len(password):
    print('Too short , try again!')
else:
    print('Wrong password, tey again!')

Wrong password, tey again!

#**Quiz1 หา min**
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10.30 :Quiz1)

In [29]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min

In [30]:
Min = 100000000

In [31]:
if list_ex == Min:
    print('u r min')
else:
    print('try again!')

try again!

In [32]:
# เฉลย
min = 1000000  #ตั้งค่าไว้ก่อนให้เยอะๆ

for i in list_ex:   #วนเข้าไปดูตัวที่น้อยสุด
     if i < min:
         min = i
print(min)

-19

In [33]:

min = 1000000  #ตั้งค่าไว้ก่อนให้เยอะๆ
print(list_ex)
for i in list_ex:   #วนเข้าไปดูตัวที่น้อยสุด
     print(f'now i = {i}, min = {min}')
     print('start condition')
     if i < min:
        print(f'i < min, update min -> {i}')
        min = i
     else:
          print('not update')
     print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 1000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
not update
end condition, go to next i
now i = 9, min = 1
start condition
not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
not update
end condition, go to next i
now i = 0, min = -19
start condition
not update
end condition, go to next i
-19

#**HW3 ตัดเกรด**

In [34]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]

In [35]:
for i in score:
  if i >= 80:
     print('ได้เกรด A')
  elif i >= 75:
      print('ได้เกรด B+')
  elif i >= 70:
      print('ได้เกรด B')
  elif i >= 65:
      print('ได้เกรด C+')
  elif i >= 60:
      print('ได้เกรด C')
  elif i >= 55:
      print('ได้เกรด D+')
  elif i >= 50:
      print('ได้เกรด D')
  else:
      print('ได้เกรด F')

ได้เกรด F
ได้เกรด C+
ได้เกรด B
ได้เกรด A
ได้เกรด A
ได้เกรด D+
ได้เกรด A
ได้เกรด F
ได้เกรด B+
ได้เกรด B+
ได้เกรด A
ได้เกรด D+
ได้เกรด F

#**Function**